:host{
    box-shadow: 0px 1px 17px 0 rgba(0, 0, 0, 0.13);
}
.details{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    height: 70px;
    // background-color: #f5f3f3;
    
    .action{
        text-align: center;
        .actionName{
            font-size: small;
        }
        .actionNumber{
            font-weight: 700;
        }
        .actionPercentage{
            display: none;
            font-weight: 700;
        }
    }
    .action:hover .actionNumber{
        display: none;
    }
    .action:hover .actionPercentage{
        display: block;
    }

}
.details:hover{
    background-color: #f5f3f3;
}