<div class="warpper">
    
    <!-- <div class="customer-list">
        <app-list-container></app-list-container>
        
    </div> -->
    <!-- <div class="body">
        <mat-form-field appearance="fill">
            <mat-label>Text Body</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div> -->
    <div class="parameters">
        <mat-checkbox>Scheduled task</mat-checkbox>
        <mat-checkbox>Create an email sending chain</mat-checkbox>
        <mat-checkbox>Tracking the opening of the email</mat-checkbox>
    </div>
    <div class="documents">
        add documents
    </div>
    <div></div>
    <div>
        <button mat-raised-button color="basic">Add buttons to mail</button>
        <button mat-raised-button color="success">Save</button>
        <button mat-raised-button color="success" (click)="openDialog()">Save</button>
    </div>
</div>