table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .clear-icon {
    font-weight: bold;
  }

  tr.element-row:hover {
    background: whitesmoke;
  }
  .garbageIcon{
    width: 20px;

  }
  .top{
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
  }

  .mat-raised-button.mat-primary {
    background-color: #4caf50;
  }