<div class="container">
    <div class="left-side">
        <div>
            <div>
                <img class="logo" src="./../../../../assets/images/png/megaphone.png" alt="logo">
            </div>
        </div>
        <div class="company-name">
            <label>PR - <span style="color:#787474 ;">CRM</span></label>
        </div>
    </div>
    <div class="right-side">
        <div class="user">
            <button style="color: rgb(255, 255, 255);" mat-stroked-button [matMenuTriggerFor]="animals">
                <span class="material-icons" style="padding-bottom: 5px">
                    perm_identity
                </span>
                {{userName}}
            </button>
            <mat-menu #animals="matMenu">
                <button mat-menu-item>Vertebrates</button>
                <button mat-menu-item>Invertebrates</button>
            </mat-menu>
        </div>
    </div>

</div>